
.ipynb_checkpoints/LATTES-CV-mining-checkpoint.ipynb
ppga/ prod_ppga.ipynb
ppga/.ipynb_checkpoints/ prod_ppga-checkpoint.ipynb
ppga/classificacoes_publicadas_administracao_publica_e_de_empresas_ciencias_contabeis_e_turismo_2017_1496941692100.xls
ppga/listalattes.xlsx
ppga/prod_ppga.xlsx
ppgp/ prod_ppgp.ipynb
ppgp/.ipynb_checkpoints/ prod_ppgp-checkpoint.ipynb
ppgp/classificacoes_publicadas_administracao_publica_e_de_empresas_ciencias_contabeis_e_turismo_2017_1496941692100.xls
ppgp/listalattes.xlsx
ppgp/prod_ppgp.xlsx
reab/.ipynb_checkpoints/prod_reab-checkpoint.ipynb
reab/classificacoes_publicadas_educacao_fisica_2017_1496941693943.xls
reab/listalattes.xlsx
reab/prod_reab.ipynb
reab/prod_reab.xlsx
